# ============================
# Spring
# ============================
SPRING_PROFILES_ACTIVE=dev

# ============================
# JWT
# ============================
JWT_SECRET=
JWT_EXPIRATION_MS=3600000

# ============================
# Kakao OIDC
# ============================
KAKAO_NATIVE_APP_KEY=
KAKAO_ISS=
KAKAO_JWKS_URL=
KAKAO_ADMIN_KEY=

# ============================
# Firebase
# ============================
FIREBASE_SERVICE_ACCOUNT_JSON=
FIREBASE_PROJECT_ID=

# ============================
# Sentry
# ============================
SENTRY_DSN=
